{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <div class="box is-shadowless is-paddingless">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title">
            <a href="{{ SITEURL }}/{{ article.url }}" 
               rel="bookmark" 
               title="Permalink to {{ article.title|striptags }}">
               {{ article.title }}
            </a>
          </h1>
          {% import 'translations.html' as translations with context %}
          {{ translations.translations_for(article) }}
          <nav class="level is-mobile">
            <div class="level-left">
              <span class="level-item" aria-label="created_at">
                <span class="icon">
                  <i class="mdi mdi-calendar" aria-hidden="true"></i>
                </span>
                <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
              </span>
              {% if article.modified %}
                <span class="level-item" aria-label="updated_at">
                  <span class="icon">
                    <i class="mdi mdi-calendar-edit" aria-hidden="true"></i>
                  </span>
                  <time class="modified" datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
                </span>
              {% endif %}
              <span class="level-item" aria-label="retweet">
                <span class="icon">
                  <i class="mdi mdi-account-outline" aria-hidden="true"></i>
                </span>
                <address class="vcard author">
                  {% for author in article.authors %}
                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% if loop.index == loop.length - 1 %}
                    e
                    {% elif not loop.last %}
                    ,
                    {% endif %}
                    {% if loop.last %}
                    .
                    {% endif %}
                  {% endfor %}
                </address>
              </span>
            </div>
          </nav>
          <div class="post-content">
            {{ article.content }}
          </div>
          <div class="post-info-footer">
            <hr />
            <nav class="level is-mobile">
              <div class="level-left">
                <span class="level-item" aria-label="created_at">
                  <div class="category">
                    <a href="#" onclick="event.preventDefault();history.go(-1);">
                      <span class="icon">
                        <i class="mdi mdi-chevron-left" aria-hidden="true"></i>
                      </span>
                      back
                    </a> 
                  </div>
                </span>

                {% if article.category %}
                <span class="level-item" aria-label="created_at">
                  <div class="category">
                    post under category:
                    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                  </div>
                </span>
                {% endif %}

                {% if article.tags %}
                <span class="level-item" aria-label="updated_at">
                  <span class="icon">
                    <i class="mdi mdi-tag-outline" aria-hidden="true"></i>
                  </span>
                  {% for tag in article.tags %}
                    <a class="url fn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                  {% if not loop.last %}
                    ,
                  {% else %}
                    .
                  {% endif %}
                  {% endfor %}
                </span>
                {% endif %}
              </div>
            </nav>
          </div>
      </div> <!-- content -->
      </article>
    </div>

{% endblock %}
