{% extends "base.html" %}


  {% block content %}
    {% block content_title %}{% endblock %}
    <section id="content" class="section is-paddingless">
      <div class="container">

        {% for article in articles_page.object_list %}
        <div class="box is-shadowless is-paddingless">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <h2 class="title">
                  <a href="{{ SITEURL }}/{{ article.url }}" 
                     rel="bookmark" 
                     title="Permalink to {{ article.title|striptags }}">
                    {{ article.title }}
                  </a>
                </h2>
                <p>{{ article.summary }}</p>
              </div> <!-- content -->

              <nav class="level is-mobile">
                <div class="level-left">
                  <span class="level-item" aria-label="reply">
                    <span class="icon">
                      <i class="mdi mdi-calendar is-sunset" aria-hidden="true"></i>
                    </span>
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                  </span>
                  <span class="level-item" aria-label="retweet">
                    <span class="icon">
                      <i class="mdi mdi-account-outline" aria-hidden="true"></i>
                    </span>
                    <address class="vcard author">
                    {% for author in article.authors %}
                      <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                      {% if loop.index == loop.length - 1 %}
                      e
                      {% elif not loop.last %}
                      ,
                      {% endif %}
                      {% if loop.last %}
                      .
                      {% endif %}
                    {% endfor %}
                    </address>
                  </span>
                </div>
              </nav>
            </div>
          </article>
        </div>
        {% endfor %}

{% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
{% endif %}
      </div> <!-- container -->
</section><!-- /#content -->
{% endblock content %}
